#
#       Configuration file for process_mail.pl 
#

# ---------------------------
# --- General settings ------
# ---------------------------

# Directory where the mail script lives. (Not currently used)
[homedir]
$MIT_SCRIPT_BASE/mail

# Directory where common/shared scripts live. (Not currently used)
[bindir]
$MIT_SCRIPT_BASE/bin

# XSLT_DIR     - Directory with the XSLT Transformation files. 
# May use full path to form_eng if using Aleph standard XSL.
[xsltdir]
$MIT_SCRIPT_BASE/mail/transforms

# BATCH_DIR    - Location of the XML batch files. 
[batchdir]
$data_print

# LOG_DIR      - Directory for sending log files
[logdir]
$MIT_SCRIPT_BASE/mail/log

# ERROR_EXT    - Extension to add at the end of error files.
[errorext]
err

# RESULT_EXT   - Extension to add to the results log file.
[resultext]
log

# ---------------------------
# --- Debug Mode Settings ---
# ---------------------------

# DEBUG_MODE  - Used to set the application into debug mode [0 or 1]
[debugmode]
0

# DEBUG_EMAIL - Address used to send all notices to during a debug session
[debugemail]
orbitee@mit.edu

# DEBUG_FROM  - Address put on the FROM line to receive returned mail
[debugfrom]
orbitee@mit.edu

# DEBUG_FILE  - File used to process a single file in debug mode
# Comment out to process all files with specified extension.
[debugfile]
ovdsum_04_00.circ_email

# DEBUG_DIR   - Directory to send debugging files.
[debugdir]
$MIT_SCRIPT_BASE/mail/log

# DEBUG_LOG   - Debug Log file.
[debuglog]
process.dbg

# ----------------------------
# --- Mail server settings ---
# ----------------------------

# SMTP_RELAY   - SMTP relay for sending email.
# Comment out to use local sendmail.
[smtprelay]
outgoing.mit.edu

# Time to wait before 2nd attempt on email send error.
[sleepsec]
15

# ----------------------------------------
# --- EXT_OPTS     - Options likely to be based on extension
# ----------------------------------------

# BATCH_EXT    - Extension (Aleph print ID) for batch files in this run
[batchext]
mono_email

# Number of days to keep log files.  (For future enhancement)
[savedlogdays]
60

# EXT_EMAIL - Email address used in From: field
[extemail]
monoacq@mit.edu

# EXT_PRINT - File extension (print ID) used for client print daemon to
#             pick up files that were not emailed.
[extprint]
mono_acq

# EXT_STATS - File name prefix for stats on how many messages were sent.
#             Rotated on a monthly basis.
[extstats]
mono_stats

# EXT_EXTRA - Should extra stats be sent in the admin email.
#             I.e. list of emails that were sent.  'Y' to include
#             or anything else to exclude.
[extextra]
Y

# EXT_ADMIN - Email address to send statistics to
#             NONE if no admin message is desired - useful for one-off
#             mailings generated by client actions.
[extadmin]
acq_print@mit.edu

